.react-calendar {
    border:7px;
    background-color:rgb(224, 127, 222);
    color:black;
	margin: auto;
<<<<<<< Updated upstream
    background-color: pink;
=======
    font-weight: bold;
    border-radius: 5px;
    box-shadow:yellow;
    width: 400px;

>>>>>>> Stashed changes
}

.react-calendar__month-view__days__day {
    font-size: 1em;
    padding: 0.5em;
    margin: 0.2em;
    border-radius: 50%;
    transition:cubic-bezier(1, 0, 0, 1);
    color: #2c2e2c; 
  }
  
.react-calendar__month-view__days__day--neighboringMonth {
    color: #807e7e; 
    opacity: 0.9; 
    font-weight: normal; 
  }
  
  
  